# Credenciales para Docker - sustituir por valores propios
MARIADB_USER=YOUR_DATABASE_USER
MARIADB_PASSWORD=YOUR_DATABASE_PASSWORD
MARIADB_DATABASE=enajenarte_test_db
MARIADB_ROOT_PASSWORD=YOUR_ROOT_PASSWORD

MAIL_USERNAME=YOUR_MAIL_USER
MAIL_PASSWORD=YOUR_MAIL_PASSWORD
MAIL_FROM=MAIL_FROM
CONTACT_TO=MAIL_CONTACT_TO

JWT_SECRET=YOUR_JWT_SECRET