MARIADB_USER=enajenarte_user
MARIADB_PASSWORD=enajenarte_password
MARIADB_DATABASE=enajenarte_test_db
MARIADB_ROOT_PASSWORD=root_password

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
CONTACT_TO=

JWT_SECRET=clave_de_prueba_para_entrega_tfg